name: Deploy Rust Docs to GitHub Pages

on:
      push:
        branches:
          - main

jobs:
      deploy:
        environment:
          name: gh-pages

        runs-on: ubuntu-latest
        permissions:
          contents: write # Required to push to gh-pages branch
          pages: write    # Required for GitHub Pages deployment
          id-token: write # Required for OIDC token for GitHub Pages

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Install Rust toolchain
            uses: actions-rs/toolchain@v1
            with:
              toolchain: stable
              profile: minimal
              override: true

          - name: Generate Rust documentation
            run: cargo doc --no-deps
            working-directory: ./quizzes/quiz01/pivots


          - name: Prepare documentation for GitHub Pages
            run: |
              mkdir -p docs
              cp -r ./quizzes/quiz01/pivots/target/doc/* docs/
              echo "<meta http-equiv=\"refresh\" content=\"0; url=./quizzes/quiz01/pivots/index.html\">" > docs/index.html # Redirect to the actual docs
              touch docs/.nojekyll

          - name: Configure GitHub Pages
            uses: actions/configure-pages@v5

          - name: Upload Pages artifact
            uses: actions/upload-pages-artifact@v3
            with:
              path: docs

          - name: Deploy to GitHub Pages
            id: deployment
            uses: actions/deploy-pages@v4

